.mainpan
{
	border: 1px solid #000099;
	height: auto;
	width: auto;
	display: block;
	margin: 4 4 4 4;
}

#top_manual_bar
{
	font-size : 105%;
	width:100%; 
	margin:4; 
	border-collapse:collapse;
}

.label
{
	font-family:Courier New,Monospace; 
	font-size: 90%;
}

#content
{
	height:auto;
	width:70%;
	//background:#fefefe;
	display:block;
	float:left;
	padding:6px;
	border:1px solid #FFCC66;
	margin: 4;
	padding: 6;
}

table
{
	border-collapse:collapse;
}

th
{
	background-color: #E0F8F7;
	color: blue;
	font-family:Courier New,Monospace; 
	font-size:13px;
}

caption
{
	background-color: #E0F8F7;
	color: black;
	font-weight: bold;
	font-size: 15;
}

img.std
{
	height: 420px;
	width:  560px;
}

.centered_td
{
	text-align: center;
	vertical-align: text-top;
	width: 15em;
}

.raligned_td
{
	text-align: right;
	vertical-align: text-top;
	width: 15em;
}

.laligned_td
{
	text-align: left;
	vertical-align: text-top;
	width: 15em;
}

.box_centered_td
{
	text-align: center;
	vertical-align: text-top;
	border: 1px solid black;
	width: 15em;
}

.box_raligned_td
{
	text-align: right;
	vertical-align: text-top;
	border: 1px solid black;
	width: 15em;
}

.box_laligned_td
{
	text-align: left;
	vertical-align: text-top;
	border: 1px solid black;
	width: 15em;
}

.box_table
{
	border: 1px solid black;
}

.smallFont td
{
	font-family:arial; 
	font-size:14px;
}

//======= floating panel css ========
td.noteTab, td.noteTabLeft, td.noteTabRight, td.noteTabBottom
{
	height: 10px;
}

.notebox, .notePanel, td.noteTab, td.noteTabLeft, td.noteTabRight
{
	background-color: #EEEEEE;
}

.notePanel
{
	border:1px solid #333333;
}

td.noteTab, td.noteTabLeft, td.noteTabRight
{
	border-top: solid thin #333333;
}

td.noteTab
{
	padding-left:	20px;
	padding-right:	20px;	
}

td.noteTabLeft
{
	border-left:solid thin #333333;
}

td.noteTabRight
{
	border-right:solid thin #333333;
}

/*
 this is a comment
*/
.info
{
	border: 1px solid red;
	background-color: #f3f3f3;
	color: #f33333;
}

.optional
{
	border: 1px solid gold;
}


.required
{
	border: 1px solid blue;
}

.checkbox
{
	width: 20px;
	height: 20px;
	background: url(../img/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	cursor:pointer;	
}

.onerow
{
	border	:	0;
	padding	:	0;
	margin	:	0;
	resize  : none;
	height	:	22px;
	width	:	100%;
}

.subtitle 
{
	font-family:Courier New,Monospace; 
	font-weight:900;
	font-size: 100%;
}

.key
{
	color: yellow;
}

.value
{
	color: gray; 
}

.master-list-content-block, .content-key, .content-value
{
	font-family:Courier New,Monospace; 
	font-size: 90%;
}

.content-key
{
	color: blue;
}

.content-value
{
	color: darkgray; 
}

.content-footnote
{
	font-size: 110%;
}

/* jqgrid: let textarea in cell grow  */
.ui-jqgrid tr.jqgrow td {
  white-space: normal !important;
  height:auto;
  width:auto;
  vertical-align:text-top;
  padding-top:2px;
}

